<!DOCTYPE html>
<html>
    <head>
        <title>TreeCode</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <header>
            <div class="main">
                <div class="logo">
                    <img src="TreeCode-Logo.png">
                </div>
                <ul>
                    <li class="active"><a onclick="navigate('')">Home</a></li>
                    <li><a href="https://onetreeplanted.org/products/plant-trees">Donate</a></li>
                </ul>
            </div>
            <div class="title">
                <h1>TreeCode</h1>
            </div>

            <div class="button">
                <a onclick="navigate('new')" class="btn">NEW GAME</a>
                <a onclick="navigate('join')" class="btn">JOIN GAME</a>
            </div>
        </header>
        <script src="./views/script.js"></script>
    </body>
</html>
