<!DOCTYPE html>
<html>

<head>
    <title>Join Game</title>
    <link rel="stylesheet" type="text/css" href="css/style2.css">
</head>

<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="TreeCode-Logo.png">
            </div>
            <ul>
                <li class="active"><a href="file:///C:/Users/Jasvir/Desktop/TreeCode/home.html">Home</a></li>
                <li><a href="https://onetreeplanted.org/products/plant-trees">Donate</a></li>
            </ul>
        </div>
        <div class="title">
            <h1>Join Game</h1>
        </div>
        <div class="id">
            <p>Game ID:</p>
            <input type="text" id='gameId'>
        </div>
        <div class="name">
            <p>Enter name:</p>
            <input type="text" id="name">
        </div>
        <div class="number">
            <p>Enter phone number:</p>
            <input type="text" id="phone">
        </div>
        <div class="join-button">
            <a onclick="joinGame()" class="newbtn">OK</a>
        </div>
    </header>
    <script src="./views/script.js"></script>
</body>

</html>
