<!DOCTYPE html>
<html>
    <head>
        <title>New Game</title>
        <link rel="stylesheet" type="text/css" href="css/style2.css">
    </head>
    <body>
        <header>
            <div class="main">
                <div class="logo">
                    <img src="TreeCode-Logo.png">
                </div>
                <ul>
                    <li class="active"><a href="file:///C:/Users/Jasvir/Desktop/TreeCode/index.html">Home</a></li>
                    <li><a href="https://onetreeplanted.org/products/plant-trees">Donate</a></li>
                </ul>
            </div>
            <div class="title">
                <h1>New Game</h1>
            </div>
            <div class="new-name">
                <p>Enter name:</p>
                <input type="text" id="name" required>
            </div>
        <div class="new-number">
        <p>Enter phone number:</p>
        <input type="text" id="phone" required>
        </div>
        <div class="button">
            <a onclick="newGame()" class="newbtn">OK</a>
        </div>
        </header>
        <script src="./views/script.js"></script>
    </body>
</html>
