<!DOCTYPE html>
<html>
    <head>
        <title>New Game</title>
        <link rel="stylesheet" type="text/css" href="css/style2.css">
    </head>
    <body>
        <header>
            <div class="main">
                <div class="logo">
                    <img src="TreeCode-Logo.png">
                </div>
                <ul>
                    <li class="active"><a href="file:///C:/Users/Jasvir/Desktop/TreeCode/index.html">Home</a></li>
                    <li><a href="https://onetreeplanted.org/products/plant-trees">Donate</a></li>
                </ul>
            </div>
            <div class="title">
                <h1>Lobby</h1>
            </div>
            <div class="gameID">
                <p id="gameId">Game ID:</p>
            </div>
        <div class="players">  
            <p>Players:</p> 
        </div>
        <div class="button2">
            <a href="#" class="start-btn">START</a>
        </div>
        </header>
        <script src="./views/script.js"></script>
    </body>
</html>
